/* arrow on profile */
.user-name span {
    display: none !important;
}


/* .more-replies {
    box-shadow: 0 -25px 20px -10px var(--background-color) !important;
    background-color: var(--background-color) !important;
} */

/* search bar */
/* 
#search-input:not(#frc-password-1088, #frc-username-1088) {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
*/
#search-input {
    border-radius: 100px !important;
    z-index: 1;
    text-align: center;
}
/*
.wide.password, .wide.username {
    border-radius: 100px;
    z-index: 1;
    text-align: center;
} */


/* #content {
    background-color: var(--background-color) !important;
}
#comments {
    background-color: var(--background-color) !important;
} */

/*color on navigation bar */
/* .container {
    background-color: var(--main-blue);
}
.innerwrap {
    background-color: var(--main-blue) !important;
}

#footer {
    border-top: var(--main-blue);
    background-color: var(--main-blue);
    color: var(--footer-text-color);
}

#donor {
    background-color: var(--main-blue);
}


.box:not(#profile-data) {
    padding: 0px !important;
    background-color: var(--box-gray) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none !important;
}

.box-content:not(#profile-data .box-content) {
    background-color: var(--box-gray) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none !important;
    height: fit-content;
    max-height: var(--activity-box-content-max-hight);
}

.box-head:not(#profile-data .box-head) {
    height: var(--box-header-height) !important;
    border-radius: 10px 10px 0px 0px;
    border: none !important;
}

svg {
    fill: black;
}

.box-head h4:not(#profile-data .box-head h4) {
    border-radius: 100px;
    padding: 15px;
    color: var(--button-text-color) !important;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 40px 40px;
}

.box-head a:not(#profile-data .box-head a) {
    display: none ;
    border-radius: 100px;
    padding: 5px 10px 5px 10px;
    color: var(--button-text-color) !important;
    float: right;
}

.box-head a:empty {
    display: none;
} */


/* If nothing */
/* .box-head h4:not(#profile-data .box-head h4) {
    background-image: url(icons/QuestionMark.svg);
    background-color: var(--projects-color-c-3);
}
.box-head:not(#profile-data .box-head) {
    background-color: var(--projects-color-c-1) !important;
}
.box-content:not(#profile-data .box-content) {
    background-color: var(--projects-color-c-2);
} */